/* Transitioins */
@keyframes up{
    From{transform: translateX(0);}
    To{transform: translateY(30px);}
}
body{
    background-image: url(main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
body::-webkit-scrollbar{
    width: 0;
    
}

.name{
    font-family: 'Great Vibes',serif;
    font-size: 80px;
    text-align: center;
    margin:20px;
}
h1{
    font-family: 'Great Vibes',serif;
    /* opacity: 0; */
    font-size:xx-large;
}
h3{font-family: 'Great Vibes',serif;
    /* opacity: 0; */
    font-size:x-large;
}
p{
    font-family: 'Great Vibes',serif;
    /* opacity: 0; */
    font-size:larger;
}
.categories::-webkit-scrollbar{
    width: 0;
}
.categories{
    /* border: 1px solid red; */
    text-align: center;
    display: flex;
    overflow: scroll;
    height: 250px;
    overflow: hidden;
    margin: auto;
    height: 220px;
    width: 80%;
}

/* .categories::-webkit-scrollbar-track{
    color: red;
} */
.choices{
    /* border: 1px solid green; */
    overflow: hidden;
    margin: auto;
    text-align: center;
    border-radius: 20px;
}
.choices img{
    border-radius: 20px;
    width: 200px;
    height: 200px;
}
.categories:hover{
    height: 350px;
    
}
.choices:hover{
    color:white;
    height: 400px;
    opacity: 1;
}